.dashboard-container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid rgb(223, 221, 221);
  font-family: 'Inter', sans-serif;
  box-shadow: 5px 5px 5px rgb(182, 181, 181);
  background:linear-gradient(90deg, rgb(86, 248, 248), rgb(255, 142, 161));
  overflow: auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0%;
}

.project-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-container{
  background: linear-gradient(90deg, rgb(86, 248, 248), rgb(255, 142, 161));
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project-form input {
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 300px;
}
.project-form textarea {
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
  resize: none;
}
.btn-submit{
  background-color: #3ce74a;
  margin-top: 15px;
  align-items: center;
}
.img-close{
  width: 20px;
  position: absolute;
  right:5px;
  top: 5px;
  cursor: pointer;
  border: 1px solid rgb(19, 17, 17);
  border-radius: 5px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.project-card {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  border-radius: 16px;
}
.project-card-input{
  padding: 8px;
  border-radius: 8px;
  margin-left: 0;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.view-btn {
  background-color: #3c47e7;
  color: white;
  border: none;
  padding: 5px 8px;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 8px;
}
.edit-btn {
  background-color: #3ce74a !important;
  color: white;
  border: none;
  padding: 5px 8px;
  margin-right: 10px;
}
.view-btn {
  background-color: #1bd7f0 !important;
  color: white;
  border: none;
  padding: 5px 8px;
}
.update-btn {
  background-color: #019cf5;
  color: white;
  border: none;
  padding: 5px 8px;
}
.no-records{
  display: flex;
  justify-content: center;
  margin-top: 12%;
}
.project-card-heading{
  margin: 0%;
  text-decoration:underline;
  color: #504f4f;
}

.project-card-description{
  overflow: auto;
  width: 100%;
  scrollbar-width: thin;
}
.project-card-description::-webkit-scrollbar-thumb:hover {
  background: #555;
}

