.custom-toast {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-family: Arial, sans-serif;
  height: 120px;
  width: 310px;
 background:linear-gradient(90deg, rgb(218, 248, 86), rgb(243, 9, 48));
 font-weight: bold;
}

.confirm-toast {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.confirm-message {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.confirm-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.confirm-btn {
  font-size: 13px;
  padding: 5px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.confirm-yes {
  background-color: #4e32eb;
  color: white;
}

.confirm-yes:hover {
  background-color: #c9302c;
}

.confirm-cancel {
  background-color: #e0e0e0;
  color: #333;
}

.confirm-cancel:hover {
  background-color: #cfcfcf;
}
